<% @sentences.each do |sentence| %>
<p>
  <a href="<%= url "/sentence/#{sentence.id}/edit" %>">
  <strong><%= sentence.bungo_line %></strong>
  </a>
  <br />
  <%= sentence.translation %>
  <%end%>
</p>
