<!DOCTYPE HTML>
<html>
  <head>
    <title>BUNGO</title>
  </head>

  <body>
  <h1>Bungo</h2>
  <nav><h2><a href="<%= url "/group" %>">Gruppenansicht</a></h2></nav>
    <%= yield %>
  </body>
</html>
