<ol>
  <% @groups.each do |group| %>
  <li>
     <a href="<%= url("/group/" + group) %>">
        <strong><%= group %></strong>
     </a>
  </li>
  <% end %>
</ol>
    
<br />
<form method="post" action="/group" accept-charset="utf-8">
  <input type="text" placeholder="titel" maxlength="30" id="titel" name="titel" />
  <br />
  <textarea cols="80" rows="15" id="txt" name="txt" ></textarea>
  <br />
  <input type="submit" value="submit" />
</form>

